<p id="notice"><%= notice %></p>

<p>
  <b>Slovak name:</b>
  <%= @food.name %>
</p>


<p>
  <b>English name:</b>
  <%= @food.name_eng %>
</p>


<p>
  <b>Amount of energy [Kcal]:</b>
  <%= @food.energy %>
</p>


<div id="new">
				<div class="link">
								<%= link_to 'Edit', edit_food_path(@food) %></div>
				<div class="link">
								<%= link_to 'Back', foods_path %></div>
</div>
